@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('@/assets/fonts/HelveticaNeueRoman.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica Neue LTW0697BlkCnObl';
  src: url('@/assets/fonts/Helvetica Neue LTW0697BlkCnObl.ttf') format('truetype');
}

:root[lang='en'] {
  font-family: 'Helvetica Neue Roman', sans-serif;
}

:root[lang='ka'] {
  font-family: 'Helvetica Neue LTW0697BlkCnObl ', sans-serif;
}

:root:has(.no-scroll) {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(239, 239, 239, 0.102);
    border-radius: 100vh;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
